.topnav {
  background-color: #ffbf69;
  overflow: hidden;
  top: 0;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ffbf69;
  color: rgb(255, 255, 255);
}

.topnav a.split {
  float: right;
  background-color: #ffbf69;
  color: rgb(0, 0, 0);
}

.img-top {
  width: 100%;
  max-height: 40em;
}

/* .container {
  text-align: left;
  color: white;
} */
.container {
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 30em;
    width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    color: white;
  }

.centered {
  position: absolute;
  top: 10em;
  left: 5%;
  right: 50%;
}

.btn {
  border: none;
  color: rgb(0, 0, 0);
  padding: 14px 28px;
  cursor: pointer;
}

.color {
  background-color: #cbf3f0;
}
.color:hover {
  background-color: #b7f3ee;
}

.column-1 {
  float: left;
  width: 60%;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5em;
  padding-bottom: 5em;
}

.row-1:after {
  content: "";
  display: table;
  clear: both;
}

.wrap {
  background-color: #cbf3f0;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-bottom: 5em;
}

.row-3 {
  text-align: center;
  padding-bottom: 5em;
}

.image-3 {
  width: 30%;
}

.color-3 {
  background-color: #ffbf69;
} /* Green */
.color-3:hover {
  background-color: #ffb35c;
}

.row-3:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 23%;
  padding-top: 2em;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #cbf3f0;
}

.bott {
  background-image: url("images/bg-grid.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 30em;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

.column-right {
  float: left;
  width: 35%;
  padding-top: 2em;
  text-align: left;
  margin-left: 5%;
}

.column-left {
  float: left;
  width: 55%;
  padding-top: 2em;
  text-align: left;
  margin-left: 5%;
}

.image-last {
  width: 80%;
}

.bott:after {
    content: "";
    display: table;
    clear: both;
  }

.footer {
  background-color: #000000;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.column-5{
    text-align: center;
    color: #ffffff;
    margin-top: 1em;
    margin-bottom: 1em;
}